<header>
    <div class="banner text-upper text-center pos-center m-t-lg">
        <h1 class="name font-w-7">Sharnie Ivery</h1>
        <h3 class="title">Full Stack Engineer</h3>
        <div class="social m-t-md">
            <!-- twitter -->
            <a href="http://twitter.com/sharnieivery" target="_blank">
                <i class="ion ion-social-twitter"></i>
            </a>

            <!-- linkedin -->
            <a href="http://linkedin.com/in/sharnieivery" target="_blank">
                <i class="ion ion-social-linkedin"></i>
            </a>

            <!-- github -->
            <a href="http://github.com/sharnie" target="_blank">
                <i class="ion ion-social-github"></i>
            </a>

            <!-- email -->
            <a href="mailto:sharnieivery@gmail.com" target="_blank">
                <i class="ion ion-paper-airplane"></i>
            </a>

        </div>
    </div>
</header>