// colors
$primary-color: #27ae60;
$info-color: #206299;
$success-color: #2ecc71;
$danger-color: #c0392b;
$sexy-color: #F5156F;
$default-color: #404040;

// border
$border-color-default: #dce0e0;
$border-width: 1px;
$border-radius: 3px;