<div class="sidebar col-sm-7 p-md p-v-lg">
    <section class="story m-b-lg">
        <div class="page-header no-m">
            <i class="ion ion-ios-briefcase"></i>
            <span class="text-upper font-w-7">Experience</span>
        </div>
        <div class="p-t-sm">
            <span class="font-w-7">
                <a class="company-name" href="https://www.glassdoor.com/spotify">Spotify</a>
            </span>
            <span>&middot;</span>
            <span>New York, NY</span>
            <div>June 2016 - Present</div>
            <div class="text-italic">Software Engineer</div>
        </div>
        <div class="p-t-sm">
            <span class="font-w-7">
                <a class="company-name" href="https://www.linkedin.com/company/9263421">Hipsters & Hamptonites</a>
            </span>
            <span>&middot;</span>
            <span>New York, NY</span>
            <div>December 2015 - June 2016</div>
            <div class="text-italic">Full Stack Ruby on Rails Developer</div>
        </div>
        <div class="p-t-sm">
            <span class="font-w-7">
                <a class="company-name" href="https://github.com/iveryinc">Ivery, Inc.</a>
            </span>
            <span>&middot;</span>
            <span>Kingston, Jamaica</span>
            <div>November 2015 - Present</div>
            <div class="text-italic">Founder &middot; Software Engineer</div>
        </div>
        <div class="p-t-sm">
            <span class="font-w-7">
                <a class="company-name" href="https://www.glassdoor.com/Overview/Working-at-Bounce-Exchange-EI_IE807088.11,26.htm">Bounce Exchange</a>
            </span>
            <span>&middot;</span>
            <span>New York, NY</span>
            <div>September 2014 - October 2015</div>
            <div class="text-italic">Software Engineer</div>
        </div>
    </section>

    <section class="story m-b-lg">
        <div class="page-header no-m">
            <i class="ion ion-wrench"></i>
            <span class="text-upper font-w-7">Skills</span>
        </div>
        <div class="p-t-sm">
            <span class="skills">
                <span class="pill"><i class="ion ion-code"></i> Ruby on Rails</span>
                <span class="pill"><i class="ion ion-code"></i> Ruby</span>
                <span class="pill"><i class="ion ion-code"></i> Node.js</span>
                <span class="pill"><i class="ion ion-code"></i> AngularJS</span>
                <span class="pill"><i class="ion ion-code"></i> ReactJS</span>
                <span class="pill"><i class="ion ion-code"></i> JavaScript</span>
                <span class="pill"><i class="ion ion-code"></i> jQuery</span>
                <span class="pill"><i class="ion ion-code"></i> PHP</span>
                <span class="pill"><i class="ion ion-code"></i> HTML5</span>
                <span class="pill"><i class="ion ion-code"></i> SASS</span>
                <span class="pill"><i class="ion ion-code"></i> CSS3</span>
                <span class="pill"><i class="ion ion-code"></i> Database</span>
                <span class="pill"><i class="ion ion-code"></i> GIT</span>
                <span class="pill"><i class="ion ion-code"></i> GitHub</span>
                <span class="pill"><i class="ion ion-code"></i> Amazon S3</span>
                <span class="pill"><i class="ion ion-code"></i> Web Services</span>
                <span class="pill"><i class="ion ion-code"></i> Bootstrap Framework</span>
                <span class="pill"><i class="ion ion-code"></i> Photoshop</span>
                <span class="pill"><i class="ion ion-code"></i> Instagram API</span>
                <span class="pill"><i class="ion ion-code"></i> Shopify API</span>
                <span class="pill"><i class="ion ion-code"></i> Facebook API</span>
            </span>
        </div>
    </section>

    <section class="story">
        <div class="page-header no-m">
            <i class="ion ion-university"></i>
            <span class="text-upper font-w-7">Education</span>
        </div>
        <div class="p-t-sm">
            <span class="font-w-7">The Flatiron School</span>
            <span>&middot;</span>
            <span>Brooklyn, NY</span>
            <div>March 2014 - August 2014</div>
            <div class="text-italic">Full Stack Web Development</div>
        </div>
        <div class="p-t-sm">
            <span class="font-w-7">Orange County Community College</span>
            <span>&middot;</span>
            <span>Newburgh, NY</span>
            <div>January 2014 - March 2014</div>
            <div class="text-italic">Coursework towards a BS in Computer Science</div>
        </div>
    </section>
</div>