<div class="projects col-sm-5 p-md p-v-lg">
    <section class="story m-b-lg">
        <div class="page-header no-m">
            <i class="ion ion-heart"></i>
            <span class="text-upper font-w-7">Projects</span>
        </div>

        <div class="project m-t-sm bg-primary">
            <a href="http://instalocal.herokuapp.com" target="_blank" class="meta">
                <div class="font-w-7 text-upper">
                    <i class="ion ion-social-instagram-outline"></i>
                    Instalocal
                </div>
                <div class="desc">A fun way to discover local Instagram users.</div>
            </a>
        </div>

        <div class="project m-t-sm bg-primary">
            <a href="http://crowdflame.com" target="_blank" class="meta">
                <div class="font-w-7 text-upper">
                    <i class="ion ion-flame"></i>
                    Crowdflame
                </div>
                <div class="desc">Automated marketing tool for Instagram.</div>
            </a>
        </div>

        <div class="project m-t-sm bg-primary">
            <a href="http://coinswamp.com" target="_blank" class="meta">
                <div class="font-w-7 text-upper">
                    <i class="ion ion-social-bitcoin"></i>
                    CoinSwamp
                </div>
                <div class="desc">Invitation only Bitcoin platform for merchants.</div>
            </a>
        </div>
    </section>

    <section class="story">
        <div class="page-header no-m">
            <i class="ion ion-ios-infinite"></i>
            <span class="text-upper font-w-7">Open Source</span>
        </div>

        <div class="links m-t-sm">
            <a href="https://github.com/sharnie/NYPD" target="_blank">Pandora Downloader</a>
            <a href="https://github.com/sharnie/mass-mailer" target="_blank">Mass Mailer</a>
            <a href="https://github.com/sharnie/photo-search-v2" target="_blank">Photo Search V2</a>
            <a href="https://github.com/sharnie/ig-robot" target="_blank">Instagram Robot</a>
        </div>
    </section>
</div>